.intro {
    padding: var(--spacing-xxx-large) 0;

    .grid-item:nth-child(1) {
        grid-column: 2 / span 4;
    }

    *+* {
        margin-top: var(--spacing-x-large);
    }

    &__heading {
        font-size: var(--font-size-xx-large);
        font-family: var(--font-family-serif);
        line-height: 1;
        font-weight: 700;

        .about &,
        .page2 &,
        .home & {
            font-size: var(--font-size-xx-large);
            // font-size: var(--font-size-xxx-large);
        }

    }

    &__blurb {
        grid-column: 2 / span 4;
        font-size: var(--font-size-large);
        // font-family: var(--font-family-serif);
        line-height: 1.2;
        font-weight: normal;
        // color: var(--color-mid);

        @media (max-width: 1200px) {
            grid-column: 2 / span 5;
        }

    }

    &__image {
        grid-column: 1 / span 5;
        margin-bottom: var(--spacing-xx-large);

        img {
            margin-bottom: var(--spacing-medium);
        }
    }

    @media (min-width: 37.5em) {
        padding: var(--spacing-mega-large) 0;

        &__blurb {
            padding-right: 45px;
        }

    }

    @media (max-width: 1200px) {

        .grid-item:nth-child(1),
        &__blurb {
            grid-column: 1 / span 5;
        }

        &__image {
            grid-column: 1 / span 6;
        }

    }

}

.about,
.page2,
.home {
    @media (min-width: 75em) {

        .intro__heading {
            font-size: var(--font-size-xxx-large);
        }

    }

    @media (min-width: 75em) {

        .intro__heading {
            font-size: var(--font-size-xxx-large);
        }

    }

    @media (min-width: 100em) {
        .intro .grid-item:nth-child(1) {
            grid-column: 2 / span 4;
        }
    }
}


.page2 {

    h2 {
        margin-bottom: var(--spacing-medium);
    }

    p+p {
        margin-top: var(--spacing-medium);
    }

    p+h2 {
        margin-top: var(--spacing-large);
    }

    .intro {
        padding-bottom: var(--spacing-medium);
    }

    .grid-item:nth-child(2) {
        grid-column: 2 / span 4;
    }

    @media (max-width: 1200px) {
        .grid-item:nth-child(2) {
            grid-column: 1 / span 5;
        }
    }
}

.about {

    h2 {
        margin-bottom: var(--spacing-medium);
    }

    p+p {
        margin-top: var(--spacing-medium);
    }

    p+h2 {
        margin-top: var(--spacing-large);
    }

    .about-intro {
        box-shadow: 0 -1px 0 0 var(--color-border);
        padding: var(--spacing-x-large) 0;
    }

    .page-intro.grid-item {
        grid-column: 2 / span 4;
        // padding: 0 0 var(--spacing-xxxx-large);
    }

    @media (max-width: 1200px) {
        .page-intro.grid-item {
            grid-column: 1 / span 5;
        }
    }

    @media (min-width: 37.5em) {
        .about-intro {
            padding: var(--spacing-xxx-large) 0;

            h2 {
                position: sticky;
                top: calc(var(--spacing-x-large) + 70px);
            }
        }
    }
}