.intro {
  padding: var(--spacing-xxxx-large) 0;

  .grid-item:nth-child(1) {
    grid-column: 1 / span 4;
  }
  
  &__heading {
    font-size: var(--font-size-xxx-large);
    font-family: var(--font-family-serif);
    // margin-bottom: var(--spacing-medium);
    line-height: 1;
    font-weight: 700;
    
    .home & {
      font-size: var(--font-size-xx-large);
    }
      
    @media (min-width: 1500px) {
      // max-width: 90%;
    }

  }
  
  &__blurb {
    grid-column: 1 / span 4;
    font-size: var(--font-size-large);
    font-family: var(--font-family-serif);
    line-height: 1.2;
    font-weight: normal;
    color: var(--color-mid);
    margin-top: var(--spacing-x-large);
      
    @media (min-width: 1500px) {
      // max-width: 70%;
    }

  }

  &__image {
    grid-column: 1 / span 4;
    margin-bottom: var(--spacing-xx-large);
  }

}
