.project-summary {
  padding: var(--spacing-x-large) var(--spacing-large);
  margin-top: var(--spacing-xx-large);
  margin-top: var(--spacing-x-large);
  // background: var(--color-background);
  background: var(--color-background-breakout);
  // border: 1px solid var(--color-border);
}

.project-summary + * {
  margin-top: var(--spacing-xx-large);
}

.project__content figure {
  // display: flex;
  // flex-direction: row-reverse;
  margin-top: var(--spacing-xxx-large);
  margin-bottom: var(--spacing-xxx-large);
  // margin-left: calc( ( (-1600px/6) * 1) + 10px);
  
  img {
    margin-bottom: var(--spacing-medium);
    width: 100%;
  }
  
  // figcaption {
  //   width: calc((1600px/6) * 1);
  //   align-items: flex-start;
  //   padding-right: var(--spacing-large);
  // }
  
  // .figcaption__inner {
  //   position: sticky;
  //   top: calc(var(--spacing-x-large) + 70px);
  // }

  @media (min-width: 1600px) {
    display: flex;
    flex-direction: row-reverse;
    margin-left: calc( ( (-1600px/6) * 1) + 10px);

    img {
      max-width: calc((1600px/6) * 3);
      max-width: 768px;
      margin-bottom: 0;
    }
    
    figcaption {
      width: calc((1600px/6) * 1);
      align-items: flex-start;
      padding-right: var(--spacing-large);
    }
    
    .figcaption__inner {
      position: sticky;
      top: calc(var(--spacing-x-large) + 70px);
    }
  }
}

figure + * {
  margin-top: var(--spacing-xx-large);
}

figcaption {
  font-size: var(--font-size-default);
  color: var(--color-mid);
}

.project__content-wrapper {
  padding: 0;
  // margin: 0 -20px;
  
  @media (min-width: 37.5em) { 
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: repeat(4,1fr);
  }
  
  @media (max-width: 75em){
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 6;
  }
}

.project-content p + figure {
  margin-top: var(--spacing-xx-large);
}

.project__content {
  grid-column: 2 / span 3;

  @media (max-width: 1200px){
    grid-column: 1 / span 5;
  }
}

.project__meta {
  grid-column: 1 / span 5;
  margin-bottom: var(--spacing-x-large);
  font-size: var(--font-size-medium);
  color: var(--color-mid);
  
  h2 {
    font-size: var(--font-size-medium);
    color: var(--color-text-default);

    a {
      display: none;
    }
  }

  div + div {
    margin-top: var(--spacing-large);
    padding: 0;
  }

  // work link
  div a {
    color: var(--color-mid);
    display: none;
    
    &:hover {
      color: var(--color-text-default);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media (min-width: 75em) {
    grid-column: 5 / span 2;
    padding-left: var(--spacing-xx-large);

    div + a {
      display: inline-block;
      margin-top: var(--spacing-xx-large);
      text-decoration: none;
  
      span {
        text-decoration: underline;
      }
    }

  }
}

.project__meta-inner {
  position: sticky;
  top: calc(var(--spacing-x-large) + 70px);
}

.project .intro__blurb {
  color: var(--color-mid);
}

.project h3,
.page2 h2:not(.intro__heading) {
  margin-bottom: var(--spacing-medium);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-x-large);
  font-weight: 400;
  line-height: 1.2;

  .heading-permalink {
    display: none;
  }
}

.project__content * + h3 {
  margin-top: var(--spacing-xxx-large);
}

.project__content * + p {
  margin-top: var(--spacing-medium);
}