.site-foot {
  padding: var(--spacing-large) 0;
  font-size: var(--font-size-med);
  color: var(--color-mid);
  box-shadow: 0 -1px 0 0 var(--color-border);

  h2 {
    color: var(--color-text-default);
  }
}
