.gradient-wrapper {
    text-align: center;
    color: var(--color-text-default);
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-start;
    // padding-bottom: var(--spacing-large);
    // width: 100%;
    // height: 30vw;
    // filter: contrast(100%) brightness(100%);
    // background: 
    // linear-gradient(0deg, rgba(217,215,210,1), rgba(48,85,47,1));
    padding: 0 0 var(--spacing-large);
    // filter: contrast(100%) brightness(100%);
    // background: linear-gradient(0deg, #d9d7d2, #b4b3a2, #8b9276, #5f7350, #30552f), url(/images/noise.svg);
    // background: 
    // linear-gradient(0deg, rgba(217,215,210,1) 10.1%, rgba(48,85,47,1) 90.1%);
    background: linear-gradient(0deg, rgba(217,215,210,1) 10%, rgba(48,85,47,1) 90%),
    url(/images/noise.svg);

    // p {
    //     opacity: 0.5;
    // }
}

.site-foot {
    // padding: var(--spacing-large) 0;
    // padding: 50vw 0;
    // margin: var(--spacing-xxx-large) 0 0 0;
    font-size: var(--font-size-med);
    color: var(--color-mid);
    // box-shadow: 0 -1px 0 0 var(--color-border);
   
    align-items: flex-start;
    padding-bottom: var(--spacing-large);
    width: 100%;
    background: rgba(217,215,210,1);
    // height: 30vw;


    h2 {
        // color: var(--color-text-alt2);
        color: var(--color-background-alt);
        // font-size: var(--font-size-default);
    }

    p {
        // font-size: var(--font-size-default);
    }

    .grid-item:nth-child(2) {
        grid-column: 2 / span 3;
    }
}

.contact-list,
.always-was {
    // padding-left: var(--spacing-xx-large);
    // margin-bottom: var(--spacing-large);
    color: var(--color-background-alt);

    &__heading {
        font-size: var(--font-size-med);
        display: inline-block;
    }

    ul {
        // display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        display: block;
        //  &:not(:last-child) {

    }

    a {
        color: var(--color-background-alt);
        // text-decoration: none;
    }
    
    a:hover {
        // color: var(--color-text-default);
        color: var(--color-background-alt) !important;
        background: inherit;
    }

    @media (min-width: 37.5em) {
        display: flex;

        ul {
            display: flex;
        }

        li {
            margin-left: var(--spacing-large);
        }
    }
}

.always-was {
    margin-bottom: var(--spacing-xxx-large);

    p {
        text-align: left;
        opacity: 1;
    }
}

.drifting {
    padding: 100vw 0;
    opacity: 0.4;
}

// .gradient-wrapper {
//     width: 100%;
//     height: 30vw;
//     filter: contrast(100%) brightness(100%);
//     background: 
// 	linear-gradient(0deg, rgba(217,215,210,1), rgba(48,85,47,1)),
// 	url(/images/noise.svg);
// }
