{% if navigation.items %}
  <nav class="site-nav" aria-label="{{ariaLabel}}">
    <ul class="">
      {# {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        <li class="">
          <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %} #}
      <li><a href="/" {% if activeNav == "home" %}aria-current="page"{% endif %}>Home</a></li>
      <li><a href="/projects" {% if activeNav == "projects" %}aria-current="page"{% endif %}>Projects</a></li>
      {# <li><a href="/resume" {% if activeNav == "resume" %}aria-current="page"{% endif %}>Resume</a></li></ul> #}
    </ul>
  </nav>
{% endif %}
