{% if navigation.items %}
  <nav class="site-nav" aria-label="{{ariaLabel}}">
    <ul class="">
      <li><a href="/" {% if activeNav == "home" %}aria-current="page"{% endif %}>Home</a></li>
      <li><a href="/about" {% if activeNav == "about" %}aria-current="page"{% endif %}>About</a></li>
      <li><a href="/projects" {% if activeNav == "projects" %}aria-current="page"{% endif %}>Projects</a></li>
      <li><a href="/thoughts" {% if activeNav == "thoughts" %}aria-current="page"{% endif %}>Thoughts</a></li></ul>
    </ul>
  </nav>
{% endif %}
