{% if postListItems.length %}
  <section class="">
    <div class="">
      <ol class="" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="">
              <h2 class="">
                <a href="{{ item.url }}" class="" rel="bookmark">{{ item.data.title }}</a>
              </h2>
              <p class="">
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
