.grid-wrapper {
  display: grid;

  @media (min-width: 50em){
    grid-template-columns: repeat(6, 1fr);
    // gap: 0 30px;
  }
}

.grid-wrapper--reverse {
  @media (min-width: 50em){
    .grid-item:nth-child(1) { 
      order: 2;
    }
    .grid-item:nth-child(2) { 
      order: 1;
    }
  }
}