.grid-wrapper {
  display: grid;

  @media (min-width: 50em){
    grid-template-columns: 2fr 4fr 1fr;
  }
}

.grid-wrapper--reverse {
  @media (min-width: 50em){
    .grid-item:nth-child(1) { 
      order: 2;
    }
    .grid-item:nth-child(2) { 
      order: 1;
    }
  }
}