.grid-wrapper {

    // 600
    @media (min-width: 37.5em) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // gap: 0 30px;

        .grid-item:nth-child(2) {
            // padding-left: var(--spacing-medium);
        }
    }
}

// 1200
.grid-wrapper--reverse {
    @media (min-width: 75em) {
        .grid-item:nth-child(1) {
            order: 2;
        }

        .grid-item:nth-child(2) {
            order: 1;
        }
    }
}