.wrapper {
  // max-width: calc(100vw - 10em);
  max-width: 1600px;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  // background: #f2f2f2;
  padding: 0 var(--spacing-medium);
}
