<footer role="contentinfo" class="">
  <div class="wrapper">
    <div class="">
      {% if site.shortDesc %}
        <div>
          <article class="">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="">
        Powered by the <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>
