<footer class="site-foot" role="contentinfo">
  <div class="wrapper grid-wrapper">
    <div class="grid-item">
      <h2>&copy; 2021 Jesse Yuen</h2>
    </div>
    <div class="grid-item">
      <p>*This includes racism, xenophobia, homophobia, sexism and other forms of intolerance, violence, emotional abuse and bullying, capitalism over planet...</p>
    </div>
  </div>
</footer>