<footer class="site-foot" role="contentinfo">
  <div class="wrapper grid-wrapper">
    <div class="grid-item">
      <h2>&copy; 2021 Jesse Yuen</h2>
    </div>
    <div class="grid-item">
      <div class="contact-list">
        <h2 class="contact-list__heading">Contact <span class="visually-hidden">{{ site.name }}</span></h2> 
        <ul>
          <li>
            <a href="mailto:hello@jesseyuen.com">Email</a>
          </li>
          <li>
            <a href="https://twitter.com/jesseyuen">Twitter</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jesseyuen/">LinkedIn</a>
          </li>
        </ul>
      </div>
      <p>*This includes racism, xenophobia, homophobia, sexism and other forms of intolerance, violence, emotional abuse and bullying, capitalism over planet...</p>
    </div>
  </div>
</footer>