{% extends 'layouts/base.njk' %}

{# Custom macros #}

{# Intro content #}
{% set introHeading = title %}
{% set activeNav = "about" %}
{# {% set blurb = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit mauris, fringilla ac nunc eget, mattis iaculis magna." %} #}

{% block content %}
  <main id="main-content" class="about">
    {% include "partials/components/intro.njk" %}
    <div class="wrapper grid-wrapper">
      <div class="grid-item"></div>
      <div class="page-intro grid-item">
        {{ content | safe }}
      </div>
    </div>
    <section id="work" class="skills-values">
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h2>What I do</h2>
        </div>
        <div class="grid-item">
          <ul>
            <li>Lead within and across teams contributing to experience, design and development.</li>
            <li>Interaction/product/user experience design with a user centered approach.</li>
            <li>Design, build, iterate and evaluate prototypes of varying fidelity.</li>
            <li>Build inclusive and robust frontend for websites and web apps and use HTML5, CSS3, SCSS, BEM, RWD, Nunjucks and Javascript.</li>
            <li>Work closely with developers and user researchers in agile environments.</li>
            <li>Advocate for accessibility (audits/testing, product health, organisation awareness).</li>
            <li>Train, mentor and coach others.</li>
            <li>Encourage and nurture a positive environment for my team members.</li>
            <li>Empower those around me.</li>
            <li>Care about other designers and the experience they have at work.</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="skills-values">
      <div class="wrapper grid-wrapper">
      <div class="grid-item">
        <h2>My values</h2>
      </div>
        <div class="grid-item">
          <ul>
            <li>
              <strong>Civic minded</strong>
              I’m interested in designing in the space where technology, inclusivity and community meet and I have strong intentions to only work for organisations who do good, not evil.
            </li>
            <li>
              <strong>User centered</strong>
              All users have the right to a fair and positive experience when using digital products and services. Good design starts by addressing user needs.
            </li>
            <li>
              <strong>Pragmatic</strong>
              Working iteratively and sensibly within a product team requires a pragmatic approach. I prefer to move a little slower and fix things along the way instead of moving fast and breaking everything.
            </li>
            <li>
              <strong>Team focused</strong>
              Teams that make progress and grow together are better outcomes than individuals making a huge impact whilst leaving the team behind. A good designer brings the team along for the ride.
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    {# {% include "partials/components/post-list.njk" %} #}
    {# {% include "partials/components/pagination.njk" %} #}
  </main>
{% endblock %}