{% extends 'layouts/base.njk' %}

{# Custom macros #}

{# Intro content #}
{% set introHeading = title %}
{% set activeNav = "about" %}
{# {% set blurb = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit mauris, fringilla ac nunc eget, mattis iaculis magna." %} #}

{% block content %}
  <main id="main-content" class="about">
    {% include "partials/components/intro.njk" %}
    <section class="about-intro">
        <div class="wrapper grid-wrapper">
            <div class="grid-item"></div>
            <div class="page-intro grid-item">
                {{ content | safe }}
            </div>
        </div>
    </section>
    <section id="work" class="skills-values">
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h2>What I do</h2>
        </div>
        <div class="grid-item">
          <ul>
            <li>Embed user centred design capability in teams</li>
            <li>Train, mentor and coach others</li>
            <li>Empower those around me</li>
            <li>Care about other designers and the experience they have at work</li>
            <li>Encourage and nurture communities of practice</li>
            <li>Lead within and across multi-disciplinary teams</li>
            <li>Interaction/product/user experience design with a user centered focus</li>
            <li>Lean design and UX</li>
            <li>Design, build, iterate and evaluate prototypes of varying fidelity</li>
            <li>Design, build and maintain component libraries/design systems</li>
            <li>Work closely with developers and user researchers in agile environments.</li>
            <li>Champion accessibility</li>
            <li>Work within agile teams</li>
            <li>Work closely with engineers, user researchers, product and stakeholders</li>
            <li>Build inclusive and robust frontend for websites and web apps and use HTML5, CSS3, SCSS, BEM, RWD, Nunjucks and Javascript</li>
          </ul>
        </div>
      </div>
    </section>
    {# <section class="skills-values">
      <div class="wrapper grid-wrapper">
      <div class="grid-item">
        <h2>My values</h2>
      </div>
        <div class="grid-item">
          <ul>
            <li>
              <strong>Civic-minded</strong>
              I’m interested in designing in the space where technology, inclusivity and community meet and I have strong intentions to only work for organisations who do good, not evil.
            </li>
            <li>
              <strong>User centered</strong>
              All users have the right to a fair and positive experience when using digital products and services. Good design starts by addressing user needs.
            </li>
            <li>
              <strong>Pragmatic</strong>
              Working iteratively and sensibly within a product team requires a pragmatic approach. I aim to ship at pace but also fix things along the way.
            </li>
            <li>
              <strong>Team focused</strong>
              Teams that make progress and grow together are is better than individuals making a impact whilst leaving the team behind. A good designer brings the team along for the ride.
            </li>
          </ul>
        </div>
      </div>
    </section> #}
    
    {# {% include "partials/components/post-list.njk" %} #}
    {# {% include "partials/components/pagination.njk" %} #}
  </main>
{% endblock %}