{% extends 'layouts/base.njk' %}

{# Custom macros #}
{% from "macros/project-item/macro.njk"   import appProjectList %}

{# Intro content #}
{% set introHeading = title %}
{% set activeNav = "projects" %}
{# {% set blurb = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit mauris, fringilla ac nunc eget, mattis iaculis magna." %} #}

{# Post list content #}
{# {% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %} #}

{# Archive link #}
{# {% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %} #}

{% block content %}
  <main id="main-content" class="home">
    {% include "partials/components/intro.njk" %}
    <section id="work" class="projects">
      {# <div class="wrapper grid-wrapper">
        <h2 class="serif-heading">Select projects</h2>
      </div> #}
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h2><span class="visually-hidden">Projects completed at </span>Made Tech</h2>
        </div>
        <div class="grid-item">
          {{ appProjectList ({
            items: [
              {
                heading: 'Introducing user centered design into an organisation
 (Coming soon)',
                desc: 'The first steps of digital and design maturity',
                details: 'Digital service, Interaction design, Leadership'
              }
            ]
          }) }}
        </div>
      </div>
    </section>
    <section class="projects">
      {# <div class="wrapper grid-wrapper">
        <h2 class="serif-heading">Select projects</h2>
      </div> #}
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h2><span class="visually-hidden">Projects completed at the</span>GOV.UK</h2>
        </div>
        <div class="grid-item">
          {{ appProjectList ({
            items: [
              {
                heading: 'Teaching Vacancies (Coming soon)',
                desc: 'Helping people find teaching, school leadership and education support jobs in England',
                details: 'Digital service, Interaction design',
                imagePath: 'teaching-vacancies.png'
              },
              {
                href: '/projects/register-teacher-training',
                heading: 'Register trainee teachers',
                desc: 'Designing a digital service from prototype to public beta',
                details: 'Digital service, Interaction design',
                imagePath: 'register-hero2.jpg'
              },
              {
                href: '/projects/building-a-design-community',
                heading: 'Growing a design community (wip case study)',
                desc: 'Doing my bit to nurture a national community of interaction designers',
                details: 'Community, Leadership',
                imagePath: 'community.png'
              }
            ]
          }) }}
        </div>
      </div>
    </section>
    <section class="projects">
      <div class="wrapper grid-wrapper">
      <div class="grid-item">
        <h2><span class="visually-hidden">Projects completed at the</span>The Guardian</h2>
      </div>
        <div class="grid-item">
          {{ appProjectList ({
            items: [
              {
                href: '/projects/subscribe',
                heading: 'Subscribe to the Guardian',
                desc: 'Redesigning of the Guardians subscription product with a focus on modular patterns',
                details: 'UX, Product design',
                imagePath: 'subscribe2.png'
              },
              {
                href: '/projects/contribute',
                heading: 'Contribute to the Guardian',
                desc: 'Advocating for inclusive design when updating the contribution journey',
                details: 'UX, Product design, Accessability, Design system',
                imagePath: 'contribute3.png'
              }
            ]
          }) }}
        </div>
      </div>
    </section>
    <section class="projects">
      <div class="wrapper grid-wrapper">
      <div class="grid-item">
        <h2><span class="visually-hidden">Projects completed </span>Elsewhere</h2>
      </div>
        <div class="grid-item">
          {{ appProjectList ({
            items: [
              {
                href: '/projects/perth-device-lab',
                heading: 'Perth Device Lab',
                desc: 'An open source project with a difference',
                details: 'Community, UX, Product design',
                imagePath: 'device-lab-3.jpg'
              },
              {
                href: '/projects/hot-copper',
                heading: 'Hot Copper',
                desc: 'Redesigning Australia’s most popular share market forum',
                details: 'UX, Product design, Design system',
                imagePath: 'hc-hero2.png'
              },
              {
                heading: 'Design bits and bobs (Coming soon)',
                desc: "Select design work that won't ever have a case study!",
                details: 'UX, Product design'
              },
              {
                href: '/projects/front-end-development',
                heading: 'Front end development',
                desc: 'A collection of semantic, accessible and engaging frontend work',
                details: 'Development, Accessability',
                imagePath: 'onia.png'
              }
            ]
          }) }}
        </div>
        {# {
          href: '/projects/art-on-the-move',
          heading: 'Art on the Move',
          desc: 'Accessible and modular design on a showstrong budget',
          details: 'UX, Product design'
        }, #}

        {# {
            heading: 'A design system for [name withheld] (Coming soon)',
            desc: 'Designing, building and maintaining a design system.',
            details: 'Design system, UX, Product design, development'
        }, #}
      </div>
    </section>
    {# {% include "partials/components/post-list.njk" %} #}
    {# {% include "partials/components/pagination.njk" %} #}
  </main>
{% endblock %}
