{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" class="page">
    <section class="intro">
      <div class="wrapper grid-wrapper grid-wrapper--reverse">
        <div class="grid-item">
          <h2 class="intro__heading">{{ introHeading }}</h2>
        </div>
        <div class="grid-item">
          
        </div>
      </div>
    </section>
    <article>
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          {# page template #}
        </div>
        <div class="grid-item">
          {{ content | safe }}
        </div>
      </div>
    </section>
    </article>
  </main>
{% endblock %}
