{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="">
      {% include "partials/components/intro.njk" %}
      <div class="">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
