{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set blurb = blurb %}
{% set activeNav = "home" %}

{% block content %}
  <main id="main-content" class="page2">
    <section class="intro">
      <div class="wrapper grid-wrapper grid-wrapper--reverse">
        <div class="grid-item">
          <h1 class="intro__heading">{{ introHeading }}</h1>
          <p class="intro__blurb">{{ blurb | safe }}</p>
        </div>
      </div>
    </section>
    <section>
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          {# page template #}
        </div>
        <div class="grid-item">
          {{ content | safe }}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
