{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content">
    <article class="">
      
      <section class="intro">
        <div class="wrapper grid-wrapper grid-wrapper--reverse">
          <div class="grid-item">
            <h1 class="intro__heading">{{ introHeading }}</h1>
          </div>
          <div class="grid-item">
            
          </div>
        </div>
      </section>

      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          project template
        </div>
        <div class="grid-item">
          {{ content | safe }}
        </div>
      </div>
      {% if tags %}
        <footer class="">
          <div class="inner-wrapper">
            <div class="">
              <h2 class="">Filed under</h2>
              <ul class="">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
