{% extends 'layouts/base.njk' %}

{% from "macros/feature-box/macro.njk"   import appFeatureBox %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content">
    <section class="intro">
      <div class="wrapper grid-wrapper grid-wrapper--reverse">
        <div class="grid-item">
          <h2 class="intro__heading">{{ introHeading }}</h2>
        </div>
        <div class="grid-item">
          {# <h2>Role</h2>
          {{role}}
          <h2>{{employer}}</h2>
          {{year}} #}
        </div>
      </div>
    </section>
    <article>
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h2>Role</h2>
          <ul>
            {% for item in roles %}
              <li>{{items | safe}}</li>
            {% endfor %}
          </ul>
          <h2>{{employer}}</h2>
          {{year}}
        </div>
        <div class="grid-item">
          {% if intro %}
            <section class="project-summary">
              <h3>{{ introHeading | safe }}</h3>
              <p>{{ intro | safe }}</p>
            </section>
          {% endif %}
          {{ content | safe }}
          {% if outro %}
            <section class="project-summary">
              <h3>{{ outroHeading | safe }}</h3>
              <p>{{ outro | safe }}</p>
            </section>
          {% endif %}
        </div>
      </div>
    </article>
  </main>
{% endblock %}
