{% extends 'layouts/base.njk' %}

{# Custom macros #}
{# {% from "macros/project-item/macro.njk"   import appProjectList %} #}

{# Intro content #}
{% set introHeading = title %}
{% set activeNav = "projects" %}

{% block content %}
  <main id="main-content" class="project">
    <section class="intro">
      <div class="wrapper grid-wrapper">
        <div class="grid-item">
          <h1 class="intro__heading">{{ introHeading }}</h1>
        </div>
        <p class="intro__blurb">{{ blurb }}</p>
      </div>
    </section>
    <article>
      <div class="wrapper grid-wrapper grid-wrapper--reverse project__body">
        <div class="grid-item project__meta">
          <div class="project__meta-inner">
            <div>
              <h2>{{employer}}</h2>
              <p>{{year}}</p>
              <a href="/"><span>View more work</span></a>
            </div>
            <div>
              {% if roles %}
                {# <h2>Role</h2> #}
                <ul>
                  {% for item in roles %}
                    <li>{{item.itemText}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="project__content-wrapper grid-item">
          {% if leadImage %}
            <div class="intro__image">
              <figure>
                <img src="{{leadImage}}" alt="{{leadImage}}">
                <figcaption>{{leadImageCaption}}</figcaption>
              </figure>
            </div>
          {% endif %}
          <div class="grid-item project__content">
            {% if intro %}
              <section class="project-summary">
                <h3>{{ introHeading | safe }}</h3>
                <p>{{ intro | safe }}</p>
              </section>
            {% endif %}
            {{ content | safe }}
            {% if outro %}
              <section class="project-summary">
                <h3>{{ outroHeading | safe }}</h3>
                <p>{{ outro | safe }}</p>
              </section>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="wrapper grid-wrapper grid-wrapper--reverse project__body">
        
      </div>
    </article>
  </main>
{% endblock %}


