<nav role="navigation">
    <ul class="projects__list">
      {% for item in params.items %}
        <li class="projects__item">
          {% if item.imagePath %}
            <img src="/images/{{ item.imagePath}}">  
          {% endif %}
          <h3 class="projects__item-heading">
          {% if item.href %}
            <a href="{{ item.href }}">{{ item.heading }}</a>
          {% else %}
            {{ item.heading }}
          {% endif %}
          </h3>
          <p class="projects__item-desc">{{ item.desc }}</p>
          <p class="projects__item-details"><span class="visually-hidden">Project details:</span>{{ item.details }}</p>
        </li>
      {% endfor %}
    </ul>
</nav>