body {
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  color: var(--color-text-default);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: var(--font-size-medium);
}

.type-xxx-large {
  font-size: var(--font-size-xxx-large)
}

.type-xx-large {
  font-size: var(--font-size-xx-large)
}

.type-x-large {
  font-size: var(--font-size-x-large)
}

.type-large {
  font-size: var(--font-size-large)
}

.type-med {
  font-size: var(--font-size-medium)
}

a {
  transition: color var(--duration-quickly);
}

// @include media-query('md') {
//   h1 {
//     font-size: get-size(900);
//   }

//   h2 {
//     font-size: get-size(800);
//   }

//   h3 {
//     font-size: get-size(700);
//   }
// }
